<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/templates/main.xhtml"

                xmlns:f="http://java.sun.com/jsf/core">
    <ui:define name="content">
        <h:graphicImage alt="GlassFish" library="images" name="GlassFish2008x1015.png" height="200" />
        <br/>
        <table>
            <tr>
                <td>
                    <ui:repeat value="#{datePick.timeSlot}" var="timeSlot">
                        <h:outputLink value="faces/pick.xhtml">
                            <f:param name="timeSlot" value="#{timeSlot}"/>
                            <h:outputText value="#{timeSlot}"/><br/>
                        </h:outputLink>
                    </ui:repeat>
                </td>
            </tr>
        </table>
    </ui:define>
</ui:composition>