<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Date Picked</title>
        <f:metadata>
            <f:viewParam name="timeSlot"/>
            <f:event type="preRenderComponent" listener="#{datePick.endConversation()}"/>
        </f:metadata>
    </h:head>
    <h:body>
        <h:form>
            Date Picked: #{timeSlot}
        </h:form>
    </h:body>
</html>

